#about-page {
  height: 100vh;
  width: 100%;
  position: relative;
}

#about-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px;
}

#text-about {
  width: max-content;
  color: var(--cor-5);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: var(--espacamento-32);
    span {
      color: var(--cor-p1);
    }
  }
  p {
    width: 60%;
    color: var(--cor-3);
    span {
      color: var(--cor-p1);
      opacity: 1;
    }
  }
}

#text-about > p:first-of-type {
  margin-bottom: var(--espacamento-16);
}
#text-about > p:last-of-type {
  margin-bottom: var(--espacamento-32) ;
}

#about-line {
  position: absolute;
  width: 2px;
  height: 70%;
  background-color: var(--cor-2);
  border-radius: 15px;
}

#pc-video {
  position: relative;
  width: 600px;
  height: 600px;
  object-fit: cover;
}
