.decoration {
  width: 500px;
  height: 500px;
  background-color: var(--cor-p1);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
  opacity: 0.2;
}
#about-container > .decoration:first-child {
  left: 0;
}
#about-container > .decoration:last-child {
  left: 100%;
}