:root {
  --espacamento-4: 4px;
  --espacamento-8: 8px;
  --espacamento-12: 12px;
  --espacamento-16: 16px;
  --espacamento-20: 20px;
  --espacamento-24: 24px;
  --espacamento-32: 32px;
  --espacamento-36: 36px;
  --espacamento-40: 40px;
  --espacamento-48: 48px;
  --espacamento-60: 60px;
  --espacamento-72: 72px;
  --espacamento-80: 80px;
  --espacamento-120: 120px;
  --espacamento-160: 160px;
  --espacamento-200: 200px;
}