.input-text {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--cor-2);
  font-size: 1rem;
  background-color: var(--cor-1);
  color: var(--text-primary);
  outline: none;
  border-radius: 14px;
}

.input-text::placeholder {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.input-text:focus {
  border: 1px solid var(--cor-p1);
  box-shadow: 0 0 0 3px rgba(0,123,255,.14);
}

.input-text:focus::placeholder {
  color: var(--text-secondary);
}
