#signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  img {
    width: 200px;
  }
}

#signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signin-title {
  color: var(--cor-6);
  margin-bottom: var(--espacamento-8);
}

#signin-description {
  text-align: center;
  color: var(--cor-4);
  margin-bottom: var(--espacamento-32);
  a {
    color: var(--cor-6);
  }
}

#signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
